@import "tailwindcss";
@source "../views";




@custom-variant dark (&:where(.dark, .dark *));


@layer components {
    .inactive_nav_link {
        @apply block py-2 px-3 text-gray-950 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-500 md:p-0 dark:text-gray-300 md:dark:hover:text-blue-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent text-sm;
    }

    .active_nav_link {
        @apply block py-2 px-3 text-white bg-blue-700 rounded-sm md:bg-transparent md:text-blue-500 md:p-0 dark:text-white md:dark:text-blue-500 text-sm;
    }

    .footer_link {
        @apply capitalize inline-block text-base leading-loose text-gray-900 dark:text-gray-300;
    }

    .homepage_tab {
        @apply cursor-pointer border border-gray-400 text-gray-700 rounded-lg px-4 py-2;
    }

    .active_tab {
        @apply cursor-pointer border border-gray-400 text-gray-700 rounded-lg px-4 py-2 bg-[#d6e2f7];
    }

    .acc_opt{
        @apply border-2 p-4 rounded-lg flex cursor-pointer gap-4 justify-between items-center border-[#BCBCBC] hover:bg-[#D6E2F7];
    }

    .active_acc_opt{
        @apply border-2 p-4 rounded-lg flex cursor-pointer gap-4 justify-between items-center border-[#D6E2F7] bg-[#D6E2F7];
    }

    .create_acc_btn{
        @apply bg-[#E4E4E4] text-[#707171] px-4 py-3 rounded-lg font-medium cursor-not-allowed;
    }

    .enabled_acc_btn{
        @apply bg-[#003fb4] text-white px-4 py-3 rounded-lg font-medium focus:ring-2 cursor-pointer;
    }

    .bar_filled{
        @apply bg-[#003FB4] h-[6px] rounded-r-full;
    }

    .bar_unfilled{
        @apply bg-[#E4E4E4] h-[6px];
    }

    .active_tab{
        @apply bg-blue-50 dark:bg-gray-800 text-blue-600 dark:text-blue-400;
    }

    .inactive_chat_tab{
        @apply flex items-center gap-3 p-4 hover:bg-gray-50 cursor-pointer border-l-4 border-transparent;
    }

    .active_chat_tab{
        @apply flex items-center gap-3 p-4 hover:bg-gray-50 cursor-pointer bg-blue-50 border-l-4 border-blue-500;
    }

    .unread_badge{
        @apply bg-blue-500 text-white text-xs rounded-full w-5 h-5 flex items-center justify-center;
    }

    .sent_message{
        @apply flex items-start gap-3 justify-end;
    }

    .received_message{
        @apply flex items-start gap-3 cursor-pointer;
    }

    .empty_chat_area{
        @apply flex flex-col items-center justify-center h-full text-gray-500;
    }

    .file-message{
        @apply overflow-hidden rounded-xl;
    }

    .profile_image{
        @apply mx-auto w-48 h-48 rounded-full shadow-2xl mb-4 cursor-pointer;
    }

    .choosed_currency{
        @apply cursor-pointer bg-[#059669] text-white px-4 py-1 rounded-full border-2 border-[#059669] font-semibold;
    }

    .unchoosed_currency{
        @apply cursor-pointer text-[#1ee0a3] px-4 py-1 rounded-full border-2 border-[#059669] font-semibold hover:bg-[#059669] hover:text-white;
    }
}